beautifulsoup4==4.6.0
bs4==0.0.1
certifi==2018.4.16
chardet==3.0.4
construct==2.5.3
Django==2.0.6
django-cart==1.0.4
django-csvimport==2.11
django-haystack==2.8.1
future==0.16.0
idna==2.7
isbnlib==3.8.4
lxml==4.2.2
pefile==2017.11.5
Pillow==5.1.0
python-ptrace==0.9.3
pytz==2018.4
requests==2.19.1
six==1.11.0
urllib3==1.26.5
Whoosh==2.7.4
